<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<link rel = "stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
<title>Insert title here</title>
</head>
<body>
	<h1>Product Listing</h1>
	<form th:action="@{/product/listproducts}" class="search">
		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required /> &nbsp;
			<input type="submit" value="Search" /> &nbsp; 
			<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>Category</th>
			<th>Wholesale Price</th>
			<th>Retail Price</th>
			<th>Price For Partner</th>
			<th>Sub Category</th>
			<th>Unit</th>
			<th>Part Number</th>
			<th th:if="${role}">Edit Link</th>
			<th th:if="${role}">Delete Link</th>			
		</tr>
		<tr th:each="product:${products}">
			<td th:text="${product.id}">ID</td>
			<td th:text="${product.name}">ID</td>
			<td th:text="${product.description}">ID</td>
			<td th:text="${product.type}">ID</td>
			<td th:text="${product.category}">ID</td>
			<td th:text="${product.priceFWholesale}">ID</td>
			<td th:text="${product.priceFRetail}">ID</td>
			<td th:text="${product.PriceFPartner}">ID</td>
			<td th:text="${product.subcategory}">ID</td>
			<td th:text="${product.unit}">ID</td>
			<td th:text="${product.partNumber}">ID</td>
			<td><a href="EditProduct.html" th:href="@{/product/edit/}+${product.id}" th:utext="#{products.page.edit}">Add to case</a></td>
			<td th:if="${hasPermission}"><a href="EditProduct.html" th:href="@{/product/edit/}+${product.id}" th:utext="#{products.page.edit}">Edit</a></td>
			<td th:if="${hasPermission}"><a href="DeleteProduct.html" th:href="@{/product/delete/}+${product.id}" th:utext="#{products.page.delete}">Delete</a></td>
		</tr>
	</table>
	
	 <nav aria-label="Page navigation">

        <ul  class="pagination">
            <li>
                <a th:if="${products.getNumber() ne 0 and keyword eq null}" th:href="@{'/product/listproducts?page='+${products.getNumber()-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
				<a th:if="${products.getNumber() ne 0 and keyword ne null}" th:href="@{'/product/listproducts?page='+${products.getNumber()-1}+'&keyword='+${keyword}}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
                <a th:if="${products.getNumber() eq 0 and keyword eq null}" th:href="@{'/product/listproducts?page='+0}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
				<a th:if="${products.getNumber() eq 0 and keyword ne null}" th:href="@{'/product/listproducts?page='+0+'&keyword='+${keyword}}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
            </li>




                 <li th:unless="${keyword eq null}" class="pagination" th:each="i:${#numbers.sequence(0,pageCount)}">
                     <a th:href="@{'/product/listproducts?page='+${i}+'&keyword='+${keyword}}" th:text="${i+1}"></a>
                 </li>
				<li th:if="${keyword eq null}" class="pagination" th:each="i:${#numbers.sequence(0,pageCount)}">
					<a th:href="@{'/product/listproducts?page='+${i}}" th:text="${i+1}"></a>
				</li>




            <li>
                <a th:if="${products.getNumber() ne pageCount and keyword eq null}" th:href="@{'/product/listproducts?page='+${products.getNumber()+1}}"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
				<a th:if="${products.getNumber() ne pageCount and keyword ne null}" th:href="@{'/product/listproducts?page='+${products.getNumber()+1}+'&keyword='+${keyword}}"  aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>


                 <a th:if="${products.getNumber() eq pageCount and keyword eq null }" th:href="@{'/product/listproducts?page='+${pageCount}}"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
				<a th:if="${products.getNumber() eq pageCount and keyword ne null }" th:href="@{'/product/listproducts?page='+${pageCount}+'&keyword='+${keyword}}"  aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
            </li>
        </ul>

    </nav>
	
	<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/product/listproducts}]]";
    }
</script>
</body>
</html>