<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}" />
<title>Product Form</title>
</head>
<body>
	<h1>Stock Entry Form</h1>
	 <form action="" th:object="${product}" th:action="@{/product/updateProduct}" method="get">		
		<table>
			<tr>
				<td>Product:</td>
				<td>
					<select class="form-control" name="id" id="id">
                    <!-- <option value="0">select product</option> -->
                    <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
                </select>
                
				</td>				
			</tr>
			<tr>
				<td>Unit:</td>
				<td>
					<input type="text" th:field="*{unit}">
					<p th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></p>
				</td>
			</tr>
			
			<tr>
				<td><button type="submit">update inventory</button></td>
			</tr>
	</table>                
     
	</form>
</body>
</html>