<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!-- <meta charset="ISO-8859-1"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- <script type = "text/javascript" th:src="@{/js/layout.js}"></script> -->
<!-- <title>indexPage</title> -->
<!-- </head> -->
<!-- <body> -->
<!--   <header th:insert="layout/layout.html :: header"></header> -->
<!--   <div th:replace="layout/layout.html :: menu" ></div> -->
<!--   <h1>Welcome Page</h1> -->
<!--   <h2 th:utext="'Hello '+${session.user.userName}">Hello</h2> -->
<!--   <h2 th:utext="'Role '+${session.user.role}">Role</h2> -->
<!--   <div th:replace="layout/layout.html :: footer"></div> -->
<!-- </body> -->
<!-- </html> -->